<template>
    <v-layout align-center>
        <v-flex class="text-xs-center pa-5">
            <v-card flat>
                <v-card-title dark-title align-center>
                    <h1>LOGIN</h1>
                </v-card-title>
                <v-form>
                    <v-text-field color="dark" v-model="email" name="Username" label="Username" autocomplete="off"></v-text-field>
                    <v-text-field color="dark" v-model="password" name="Password" label="Password" type="password" autocomplete="off"></v-text-field>
                    <v-card-actions>
                        <v-checkbox
                                v-model="rememberMe"
                                color="dark"
                                label="Remember Me"
                        ></v-checkbox>
                        <v-btn dark @click="login()">Login</v-btn>
                    </v-card-actions>
                    <v-alert
                            :value="statuses.loggedIn"
                            type="success"
                    >
                        You have been logged in successfully!
                    </v-alert>
                    <v-alert
                            :value="statuses.wrongCredentials"
                            type="error"
                    >
                        You have entered wrong credentials or you're not an employee!
                    </v-alert>
                </v-form>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: 'AdminLogin',
        data() {
            return {
                email : "",
                password : null,
                rememberMe : false,
                statuses : {
                    loggedIn : false,
                    wrongCredentials : false,
                }
            }
        },
        methods : {

            /**
             * Login the employee.
             *
             * @return void
             */
            login() {
                var app = this
                app.resetAlerts();
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                        app.successfulLogin()
                    },
                    error: function () {
                        app.failedLogin()
                    },
                    rememberMe: app.rememberMe,
                    redirect: null,
                    fetchUser: true,
                });
            },

            /**
             * Function to determine what happens after successful login.
             *
             * @return void
             */
            successfulLogin() {
                this.statuses.wrongCredentials = false
                this.statuses.loggedIn = true
                this.$router.push('Panel')
            },

            /**
             * Function to determine what happens when user types wrong credentials.
             *
             * @return void
             */
            failedLogin() {
                this.statuses.loggedIn = false
                this.statuses.wrongCredentials = true
            },

            /**
             * Reset all alerts on page.
             *
             * @return void
             */
            resetAlerts() {
                var app = this
                for (var property in app.statuses) {
                    if (app.hasOwnProperty(property)) {
                        app[property] = false
                    }
                }
            }
            //
        }
    }
</script>

<style scoped>
    h1 {
        margin-left : 35% !important;
    }
</style>
