<template>
    <v-data-table
            :headers="headers"
            :items="posts"
            hide-actions
            class="elevation-1"
    >
        <template slot="items" slot-scope="props">
            <td>{{ props.item.id }}</td>
            <td>{{ props.item.title }}</td>
            <td><v-btn @click="$router.push('/posts/' + props.item.id)" color="info">Update</v-btn></td>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name : 'posts',
        created() {
            this.getPosts();
        },
        data () {
            return {
                headers: [
                    {
                        text: 'ID',
                        align: 'left',
                        sortable: true,
                        value: 'id'
                    },
                    { text: 'Title', value: 'title', align: 'left' },
                    { text: 'Update', value: 'update' }
                ],
                posts: [
                ]
            }
        },

        methods : {
            /**
             * Get posts for the list
             *
             * @return void
             */
            getPosts() {
                var app = this
                axios.get('/posts').then(response => {
                    app.posts = response.data
                })
            }
        }
    }
</script>
