
<template>
    <v-form ref="form" lazy-validation>
        <v-text-field
                v-model="post.title"
                :rules="rules.title"
                label="Title"
                required
        ></v-text-field>
        <v-textarea
                v-model="post.body"
                auto-grow
                box
                color="dark"
                label="Body"
                rows="10"
        ></v-textarea>
        <v-select
                v-model="post.category_id"
                :items="categories"
                :rules="[v => !!v || 'Item is required']"
                label="Category"
                required
                item-text="name"
                item-value="id"
        ></v-select>

        <v-btn
                @click="submit"
        >
            submit
        </v-btn>
        <v-btn @click="clear">clear</v-btn>
        <v-alert
                :value="updated"
                type="success"
        >
            {{ updatedMessage }}
        </v-alert>
    </v-form>
</template>

<script>
    export default {
        name : 'postsManager',
        created() {
            this.findPost()
            this.getCategories()
        },
        data () {
            return {
                categories : [],
                post: {
                    title: null,
                    category_id: null,
                    body : null
                },
                rules: {
                    title : [
                        v => !!v || 'Title is required',
                        v => (v && v.length > 10) || 'Title must be more than 10 characters'
                    ],
                },

                updated : false,
                updatedMessage : null,
            }
        },
        methods : {

            /**
             * Clear current post data.
             *
             * @return void
             */
            clear() {
                this.post = {
                    title: null,
                    category_id: null,
                    body : null
                };
            },

            /**
             * Update changes in the DB.
             *
             * @return void
             */
            submit() {
                var app = this
                this.updated = false
                this.updatePost().then(data => {
                    if (data.status) {
                        app.updated = true
                        app.updatedMessage = data.message
                    }
                })
            },

            /**
             * Update the post in th DB.
             * @return {object}
             */
            async updatePost() {
                var app = this
                return axios.post('/posts/' + app.post.id, {
                    title : app.post.title,
                    body : app.post.body,
                    category_id : app.post.category_id
                }).then(response => {
                    return {
                        status : true,
                        message : response.data['message']
                    }
                })
            },

            /**
             * Get needed post.
             * @return void
             */
            findPost() {
                var app = this
                axios.get('/posts/' + app.$route.params.id).then(response => {
                    app.post = response.data
                })
            },

            /**
             * Get all categories for dropdown.
             *
             * @return void
             */
            getCategories() {
                var app = this
                axios.get('/categories').then(response => {
                    app.categories = response.data
                })
            }
        }
    }
</script>
