<template>
    <v-app>
        <v-layout row wrap class="auth-wrapper" fill-height>
            <v-flex lg6 md6 offset-lg2 class="pa-5">
                <img src="http://element7digital.com.au/assets/e7d-v2/images/logo.png" class="img-responsive logo">
            </v-flex>
            <v-flex class="auth-box" lg4 md4>
                <router-view></router-view>
            </v-flex>
        </v-layout>
    </v-app>
</template>

<script>
    export default {
        name: "LoginLayout"
    }
</script>

<style scoped>
    .logo {
        max-width: 200px;
        max-height: 100px;
    }
    .auth-box {
        padding: 15px;
        border-left: 1px solid #F5F5F5;
        background-color: #fff;
    }
    .auth-wrapper {
        background: url("/images/admin/bg.png") no-repeat center;
        background-size: cover;
    }
</style>